<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Custom Login Page</title>
</head>
<body>

<h3>My custom login page</h3>

<form action="#" th:action="@{/authenticateTheUser}" method="post">

    <div th:if="${param.error}}">
        <i>Sorry! You entered invalid username/password.</i>
    </div>

    <p>
        User name: <input type="text" name="username"/>
    </p>

    <p>
        Password: <input type="text" name="password"/>
    </p>

    <input type="submit" value="Login"/>

</form>

</body>
</html>